<section id="player" data-channel-id="<%=@channel.id%>" class="player">
  <div id="loading" class="loading"></div>
  <div id="nosongs" class="nosongs"></div>
  <div id="loadnextsong" class="loadnextsong"></div>
  <article id="video" class="video"></article>
  <aside id="sidebar" class="sidebar">
    <header class="sidebar-header">
      <a href="#" title="Close playlist"><%= image_tag("btn-hide-sidebar.png", class: "closePlaylistBttn swap-sidebar", alt: "Close") %></a>
      <a href="#" title="Open playlist"><%= image_tag("btn-show-sidebar.png", class: "openPlaylistBttn swap-sidebar", alt: "Open") %></a>
      <div class="sidebar-online-users">1 listener</div>
      <div class="sidebar-channel">canal General</div>
    </header>
    <article class="playing-video-box">
      <div class="voting-box">
        <a class="upvote" href="#">Upvote</a>
        <div class="heart-votes"><span></span>♥</div>
        <a class="downvote" href="#">Downvote</a>
      </div>
      <h3 id="song-name" class="song-name">Loading...</h3>
      <div class="user">
          <div class="sent-by">enviado por</div><div id="sent-by-user" class="sent-by-user">Loading...</div><div class="sent-by-rating"></div>
      </div>
      <div class="control-box">
        <a class="icon fav" href="#" alt="Add this song to favs"></a>
        <a class="icon share" href="#"></a>
        <a class="icon report" href="#"></a>
        <a id ="mute" class="icon mute" href="#"></a>
        <div class="volume"><div id="volumeController" class="slider"></div></div>
        <a class="icon quality" href="#"></a>
        <a id="fullscreen" class="icon fullscreen" href="#"></a>
      </div>  
    </article>
    <br style="clear:both" />
    <div class="progress-bar"><div class="bar"></div></div>
    <div id="queue" class="song-queue"> 
      <table class="song-list"><tr class="titol"><td class="song-title">PRÓXIMAS CANCIONES</td><td class="song-author">ENVIADA POR</td></tr></table>
      <div class="inner">
        <table id="song-list" class="song-list" class="song-list">
          
        </table>
      </div>
    </div>     
    <div class="submit-song">
      <%= form_for [@channel, @song], :remote => true do |f| %>
        <%= f.text_field :q, class:"song-input", placeholder: "Song title and author name..." %>
        <%= f.submit 'Submit song', class:"submit-song-bttn" %>
      <% end %>
    </div>
  </aside>  
</section>